@model MVCExample.Models.ViewModel.ProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ProductDto.ProductId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="ProductDto.Name"></label>
            <input asp-for="ProductDto.Name" />

            <label asp-for="ProductDto.Description"></label>
            <input asp-for="ProductDto.Description" />

            <label asp-for="ProductDto.Price"></label>
            <input asp-for="ProductDto.Price" />

            <label>Product Type</label>
            <select asp-for="ProductType" asp-items="@(new SelectList(Model.ProductTypeDtos,"ProductTypeId","Name"))"></select>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

