@{
    ViewData["Title"] = "Home Page";
}
<div>
    <p>Welcome, I am developing the back-end first so the front-end is not visually appealing. I am planning to eventually integrate REACT therefore am only putting in basic fucnctioanlity</p>
    <p>Use the navigation bars at the top to navigate pages.</p>
</div>